:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-purple: #b19CD9;
    --color-blue: #0c0727;
    --font-body: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    font-weight: 300;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
