/********************** cards **********************/
.cards {
    width: 80%;
    min-height: 100vh;
    margin: 5rem auto;
    text-align: center;
}

.cards h2 {
    font-size: clamp(2rem, 5vmin, 8vmin);
    font-weight: 500;
    margin-bottom: 5rem;

}

.card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.card-item {
    padding: 3rem 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 1px 1px 2rem #aaa;
    border-radius: 7px;
    transition: .5s;
}

.card-item:hover {
    transform: scale(1.1);
}

.card-item img {
    width: 80%;
    border-radius: 7px;
}

.card-item h3 {
    font-size: 2rem;
    font-weight: 500;
}

.card-item p {
    font-size: 1.4rem;
    text-wrap: balance;
    width: 80%;
    line-height: 1.7;
}

.card-item .btn:hover {
    color: var(--color-purple);
    border-color: var(--color-purple);
}

/* Responsivo */
@media(max-width: 768px){

    .card-item {
        width: 85%;        
    }

}
