.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url(../images/cidade-sp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

/* header da página */
.header {
    width: 100%;
    min-height: 10rem;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    z-index: 1; 
    transition: 1s;
}


.active-scroll {
    background-color:  rgba(1, 1, 68, .7);
}


.header h1 {
    color: var(--color-light);
    font-size: 3.5rem;
    font-weight: 500;
}

.logo {
      background-color: var(--color-purple);
    padding: 0 5px;
     border-radius: 7px;
}

.header ul {
    display: flex;
    gap: 1.5rem;
}

.header a {
    font-weight: 500;
    transition: 0.5s;
    font-size: 1.4rem;
}

.header a:hover {
    color: var(--color-purple);
}
/********************* fim header *********************/


/********************* hero *************************/
.hero {
     height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: var(--color-light);
    text-align: center;
}

.hero h2 {
    font-size: clamp(2.4rem, 7vmin, 10vmin);
    font-weight: 500;
    text-wrap: balance;
}

.hero h3 {
    font-size: clamp(2rem, 5vmin, 8vmin);
    font-weight: 500;
    margin-bottom: 2rem;
}

.btn {
    border: 2px solid var(--color-purple);
    padding: .8rem 3rem;
    background-color: var(--color-purple);
    border-radius: 7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn:hover {
    background-color: transparent;
    border-color: var(--color-light);
}

.btn:hover .arrow-down {
    animation: arrow 1s infinite ease-out;
}

/* Animação com keyframes */
@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
    }
}

/********************* fim hero *********************/

@media(max-width: 768px){
    .header {
        justify-content: space-evenly;
    }

}